NEXT_PUBLIC_ZIP_CODE_API=https://viacep.com.br/ws/
NEXT_PUBLIC_CITIES_API=https://servicodados.ibge.gov.br/api/v1/
NEXT_PUBLIC_CURSILLO_PLACE=
NEXT_PUBLIC_NEXT_API=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=